body {
  background-color: rgba(44, 156, 156, 0.5);
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

h1 {
  text-align: center;
}

#buzz {
  display: none;
}